@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
}
#container {
    /* display: flex; */
    margin-left: 100px;
}
body {
    background-color: #171717;
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    /* height: 100vmax; */
    height: 100%;
    left: 0;
    background-color: #333;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 3);
}

.logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0ox 0px 15px;
}

.logo p {
    font-size: 50px;
    font-weight: bold;
    color: red;
    margin-right: 2px;
    margin-left: 20px;
}

.logo span {
    font-weight: bold;
    padding: 14px;
    font-size: 18px;
    margin-top: 10px;
    padding-left: 12.5px;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 0px;
    font-size: 17px;
    
}

.anchor {
    position: relative;
    display: flex;
    width: 300px;
    padding: 20px;
    color: rgb(85, 83, 83);
}

.bx {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 25px;
    text-align: center;
        
}



.side:hover {
    background-color: #444;
}

nav:hover {
    width: 230px;
    transition: all 0.5s ease;
    /* color: red; */
}

/*nav styling done



/* MyMainInfo styling starts */

.MyMainInfo{
    background-color: #171717;
    width: 80%;
    height: 480px;
    display: flex;
    margin: 120px auto;
    margin-left: 250px;
}    /* MyMainInfo , MMyMainInfo are similar*/
.myphoto{
    
    display: flex;
    margin-left: 450px;
    position: absolute;
}

.hlo{
    font-size: 40px;
    margin-top: 100px;
    /* padding-bottom: 5px; */
}

.name{
    font-size: 50px;
    font-weight: bold;
    margin-top: 00px;
    position: absolute;
}

.web{
    font-size: 25px;
    position: absolute;
    margin-top: 70px;
}

.btn1{
    color: white;
    background-color: skyblue;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}
.a1{
    position: absolute;
    margin-top: 280px;
    
}

/* Myintro File design sTARTS */

.MMyMainInfo{
    background-color: #171717;
    width: 80%;
    height: 480px;
    /* display: flex; */
    margin: 120px auto;
    margin-left: 250px;
}

.Mhlo{
    font-size: 30px;
}

.Mname{
    font-size: 32px;
    text-align: justify;
    color: white;
}

.Mname span{
    font-style: oblique;
}


/* Myintro file design ENDS */

/* Project file design STARTS */

.PMyMainInfo{
    background-color: #171717;
    width: 80%;
    height: 480px;
    /* display: flex; */
    margin: 120px auto;
    margin-left: 250px;
}

.Pprogress{
    color: red;
    font-weight: 200px;
    font-size: 30px;
    padding-left: 300px;
    text-transform: capitalize;
}

.Pweb{
    padding-top: 100px;
    padding-left: 50px;
    
}

.Pwebresponsive{
    font-size: 25px;
    display: inline;
}

.Pwebresponsivebracket{
    color: beige;
}
/* project file design ENDS!! */

/* contact file design STARTS!! */

.CMyMainInfo{
    background-color: #171717;
    width: 80%;
    height: 480px;
    /* display: flex; */
    margin: 120px auto;
    margin-left: 250px;
}

.Cget{
    padding-left: 280px;
    font-size: 40px;
    font-family: 'Pacifico', 'cursive' ;
}

.Ccontact{
    /* background-color: brown; */
    height: 500px;
    width: 500px;
    position: absolute;
    
}
.label1{
    padding-top: 50px;
    padding-left: 30px;
}


.Cotherways{
    /* background-color: blueviolet; */
    height: 500px;
    width: 500px;
    /* float: right;
    position: absolute; */
    margin-left: 500px;
    clear: both;
}

.label2{
    padding-top: 50px;
    padding-left: 30px;
}

.Cotherwaystext{
    font-size: 30px;
    font-weight: 200px;
}

.numb{
   display: inline; 
}

.linkedin{
    display: inline;
    /* font-size: 13px; */
} 

.gmail{
    display: inline;
}

